   @import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

   :root {
     --primary: #67E0A3;
     --secondary: #7CF0BD;
     font-family:'Work Sans', sans-serif;
  }
  
  .navbar-green {
    background-color:#2A4D14; 
  }
  .background-color {
    background-color: #317B22;
  }

  .primary-btn {
    background-color: #67E0A3;
  }

  .secondary-btn {
    background-color: #7CF0BD;
  }

  .gradient-bg {
    background: linear-gradient(90deg,rgba(30, 143, 36, 1) 50%, rgba(83, 237, 147, 1) 100%);
  }

  